# ASP.NET Core Web API
ASPNETCORE_ENVIRONMENT=Development
PORT_API=5050
ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=AiDocumentReaderDb;User Id=sa;Password=Your_password123!;TrustServerCertificate=True;
AiService__BaseUrl=http://ai-service:8000
Storage__ReportsPath=storage/reports

# Python FastAPI Intelligence Service
PORT_AI_SERVICE=8000
HOST_AI_SERVICE=0.0.0.0

# Next.js Web Frontend
PORT_WEB=3000
NEXT_PUBLIC_API_URL=http://localhost:5050

# SQL Server
MSSQL_SA_PASSWORD=Your_password123!
ACCEPT_EULA=Y
MSSQL_HOST_PORT=14333
